<!-- <nav class="header">
  <div class="topnav" id="myTopnav">
    <a href="/index.html" class="active">Accueil</a>
    <a href="/perso.html">Espace perso</a>
    <a href="/animaux.html">Animaux</a>
    <a href="/virtuel_audio.html">Visite virtuelle audio</a>
    <a href="/virtuel_video.html">Visite virtuelle video</a>
    <a href="/contact.html">Contact</a>
    <a href="javascript:void(0);" class="icon" onclick="toggleNavBar()">
      <i class="fa fa-bars"></i>
    </a>

    <a href="" class="user-icon">
      <i class="fa fa-user">
        <ul class="list-container">
          <li class="list-element">Connexion</li>
          <li class="list-element">Mes informations</li>
          <ul class="list-container">
            <li class="list-element">Nom & prénom</li>
            <li class="list-element">Numéro de téléphone</li>
            <li class="list-element">Email</li>
          </ul>
          <li class="list-element">Messagerie</li>
          <li class="list-element">Historique</li>
        </ul>
      </i>
    </a>
  </div>
</nav> -->

<div class="topnav" id="myTopnav">
  <a href="#home" class="active">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <div class="dropdown">
    <button class="dropbtn">
      Dropdown
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div>
  <a href="#about">About</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
</div>
