<div class="topnav" id="myTopnav">
  <a href="/index.html" class="active"><i class="fa-solid fa-house"></i>PZG</a>
  <a href="/animaux.html">Animaux</a>
  <a href="/virtuel_audio.html">Visite virtuelle audio</a>
  <a href="/virtuel_video.html">Visite virtuelle video</a>
  <a href="/contact.html">Contact</a>
  <div class="dropdown">
    <button class="dropbtn">
      Espace perso.
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <ul class="list-container-lev1">
        <li class="list-element"><a href="#">Connexion</a></li>
        <li class="list-element hover-drop">
          <a href="#">Mes informations <i class="fa fa-caret-down"></i></a>
          <ul class="list-container-lev2">
            <li class="list-element"><a href="#">Nom & prénom</a></li>
            <li class="list-element"><a href="#">Numéro de téléphone</a></li>
            <li class="list-element"><a href="#">Email</a></li>
          </ul>
        </li>
        <li class="list-element"><a href="#">Messagerie</a></li>
        <li class="list-element"><a href="#">Historique</a></li>
      </ul>
    </div>
  </div>
  <a href="javascript:void(0);" class="icon" onclick="toggleMenu()">&#9776;</a>
</div>
