@import "variables.scss";

body {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
}

p {
  text-align: justify;
}

.separator {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

/* Layout */
.main-content {
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 20px;
}

/* BreadCrumb */
.breadcrumb {
  margin-top: 16px;
  padding: 0 0.5rem;
}

.breadcrumb ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumb ul li a {
  text-decoration: underline;
  color: $primary;
}

.breadcrumb ul li a:hover {
  text-decoration: none;
  color: $secondary;
}

.breadcrumb li:not(:last-child)::after {
  display: inline-block;
  margin: 0 0.25rem;
  content: "→";
}

// Boutons
.primary-button {
  border: none;
  border-radius: 2px;
  padding: 12px 18px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  background-color: $secondary;
  box-shadow: 0 0 4px #999;
  outline: none;
  margin: 8px;
}

.danger {
  background-color: #ca0b00;
}

/* Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: $secondary-dim
    radial-gradient(circle, transparent 1%, $secondary 1%) center/15000%;
}
.ripple:active {
  background-color: $secondary-dim;
  background-size: 100%;
  transition: background 0s;
}

.btn_row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

// Images
figcaption {
  color: $primary;
  padding-top: 8px;
}

.center {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

// Modale
.modal {
  display: none;
}
.modal-back {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.25);
}
.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 25px;
  background: white;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 600px) {
  .main-content {
    width: 70%;
    margin: auto;
  }

  .center {
    display: table-cell;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
  }
}
